body {
  background-color:rgba(112, 90, 164, 0.402);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 125%;
}

.PropertyCardImg {
  max-width: fit-content;
  max-height: fit-content;
  text-align: center;
}

.PropertyClass {
  font-size: 20px;
  width: 600px;
  height: 400px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.PropertyImg {
  max-width: 75%;
  max-height: 75%;
  text-align: center;
}

.recordBody {
  background-color:rgba(112, 90, 164, 0.402);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 0px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 110%;
}

#h2tag {
  margin-bottom: 0
}

#ptag{
  margin-top: 0
}

#recordHeader{
  font-weight: bold;
  font-size: 105%;
  margin-bottom: 0;
}

.submit {
  background-color:rgba(135, 109, 197, 0.402);
  font-weight: bold;
  font-size: 95%;
  margin-top: 10px;
  cursor: pointer;
}

.recordFormElement{
  font-size: 100%
}

.propertyFormElement{
  font-size: 100%;
  width: 75%;
  margin: 5px;
  box-sizing: border-box;
  height: 40px;
}

#propertyRecordHeader{
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 35px;
}

.delete{
  background-color:rgba(135, 109, 197, 0.402);
  cursor: pointer;
}