body {
  background-color:rgba(112, 90, 164, 0.402);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 125%;
}